@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
   background: #fff;
   font-family: "Poppins", sans-serif;
   min-height: 100vh;
   color: #46385b;
   display: flex !important;
   flex-direction: column !important;
   justify-content: space-between !important;
   overflow-x: hidden;
   overflow-wrap: break-word;
}

.tracking-page {
   background: linear-gradient(112.87deg, #f6d365 0%, #fda085 100%);
   overflow-x: hidden;
   overflow-wrap: break-word;
}

/*** Tracking Page ***/
.tracking-section {
   margin: 120px auto 0;
   width: 600px;
}

.tracking-section h1,
.tracking-section {
   text-align: center;
}

h1 {
   font-size: 50px;
   font-weight: 900;
}

h2 {
   font-size: 40px;
}

h6 {
   margin-bottom: 0;
}

/*** Override bootstrap p margin-bottom ***/
p {
   margin-bottom: 0;
}

nav {
   background: #fff;
   box-shadow: 0px 0px 50px 7px rgba(0, 0, 0, 0.15);
   padding: 10px 0;
   border-bottom: 1px solid #46385b;
}

.container {
   padding: 10px 60px;
}

nav .container {
   display: flex !important;
   justify-content: space-between !important;
   align-items: center !important;
}

nav ul {
   display: flex;
   margin-bottom: 0;
}

li {
   list-style: none;
}

nav li {
   padding-left: 30px;
}

nav img {
   width: 150px;
}

a {
   text-decoration: none;
   color: #46385b;
   transition: all 0.3s ease;
}

a:hover {
   font-weight: 700;
   color: #46385b;
}

button {
   padding: 10px 40px;
   font-weight: 700;
   box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.25);
   border-radius: 40px;
   transition: all 0.5s ease;
   font-size: 18px;
   letter-spacing: 1px;
}

ol,
ul {
   padding-left: 0 !important;
}

section {
   margin: 60px 0;
}

/*** HERO SECTION ***/
header {
   width: 100%;
}

.hero-section {
   margin-top: 0;
   min-height: 80vh;
   display: flex;
   align-items: center;
   background-image: url("img/clouds.svg"),
      linear-gradient(
         99.48deg,
         rgba(246, 208, 102, 0.43) 0%,
         rgba(253, 160, 133, 0.43) 100%
      );
   background-repeat: no-repeat;
   background-position-x: 10%;
   background-position-y: 10%;
   border-bottom: 1px solid #46385b;
}

input:focus {
   outline: none;
}

.user-input-form {
   width: 100%;
}

.btn-primary {
   border: none;
   background: #ff005c;
   color: #fff;
   border: 2px solid #ff005c;
}

.btn-primary:hover {
   background: #71d8a4;
   color: #fff;
   border: 2px solid #71d8a4;
}

.user-input-form .btn-primary {
   float: right;
}

.user-input-form input {
   font-size: 1rem;
   border: 1px solid #46385b;
   background: #fff;
   border-radius: 40px;
   text-align: center;
   height: 40px;
   font-family: inherit;
   color: #b5afbd;
   width: 60%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;
}

.input-list-container ul {
   margin-top: 40px;
   margin-bottom: 40px;
}

.input-list li {
   list-style: none;
   text-align: center;
   padding: 10px 0;
   border-left: 1px solid #46385b;
   border-right: 1px solid #46385b;
}

.input-list li:nth-child(odd) {
   background: #fff;
}
.input-list li:nth-child(even) {
   background: #f6f3f3;
}

.input-list li:first-child {
   border-top-left-radius: 20px;
   border-top-right-radius: 20px;
   border-top: 1px solid #46385b;
   border-left: 1px solid #46385b;
   border-right: 1px solid #46385b;
}
.input-list li:last-child {
   border-bottom-left-radius: 20px;
   border-bottom-right-radius: 20px;
   border-bottom: 1px solid #46385b;
   border-left: 1px solid #46385b;
   border-right: 1px solid #46385b;
}

.form-container {
   width: 600px;
   margin: 0 auto;
}

.progress {
   background-color: #fff;
   border: 1px solid #46385b;
   border-radius: 20px;
   margin: 15px 0;
   height: 40px;
   width: 100%;
}

.progress-done {
   background: #25d341;
   border-right: 1px solid #46385b;
   border-radius: 20px;
   color: #46385b;
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100%;
   width: 0;
   opacity: 0;
   transition: 1s ease 0.3s;
}

.progress-container {
   width: 600px;
   margin: 0 auto;
}

.goal-container {
   display: flex;
   justify-content: space-between;
}

/*** Enter Goal Enter Target Form ***/
.goal-form {
   margin: 50px auto 0;
   text-align: right;
   max-width: 600px;
}

.goal-button {
   background: none;
   border: solid 2px #ff005c;
   color: #ff005c;
}

.goal-button:hover {
   background: #fff;
   color: #ff005c;
}

.btn-secondary:hover {
   background: #ff005c;
   border: solid 2px #ff005c;
   color: #fff;
}

.input-container {
   margin: 0 auto;
   width: 600px;
   display: flex;
   justify-content: space-between;
}

.goal-form input {
   border: none;
   background: none;
   border-bottom: 1px solid #46385b;
   color: #46385b;
   text-align: center;
   padding-bottom: 10px;
   font-family: inherit;
   width: 47%;
   margin-bottom: 30px;
   font-size: 20px;
}

.goal-form ::placeholder {
   color: #46385b;
}

.user-goal-container {
   margin: 0 auto;
   border-bottom: 1px solid #46385b;
   max-width: 450px;
   min-height: 50px;
   margin-bottom: 30px;
}

/*** ABOUT SECTION HOME PAGE STYLING ***/
.about-section {
   border-top: 1px solid #46385b;
   border-bottom: 1px solid #46385b;
   padding-top: 120px;
   padding-bottom: 120px;
}

.about-img {
   border: 1px solid #46385b;
}

/*** ICONS SECTION STYLING ***/
.icons-section {
   background: linear-gradient(112.87deg, #f6d365 0%, #fda085 100%);
   padding: 90px 0;
   border-top: 1px solid #46385b;
   border-bottom: 1px solid #46385b;
}

.icons-row {
   margin-top: 40px;
}

/*** SIGN IN PAGE ***/
.social-signin {
   background: #fff;
   height: 50px;
   border-radius: 10px;
   margin: 0;
   transition: ease-in-out 0.4s ease;
   cursor: pointer;
}

.social-signin:hover {
   border: 1px solid #46385b;
}

.signin-container {
   margin: 0 auto;
   max-width: 550px;
}

.social-icon {
   width: 20px;
   height: 20px;
}

.social-signin img {
   margin-right: 10px;
}

.signin-container input {
   width: 50%;
   border-radius: 10px;
   border: none;
   color: #46385b;
   text-align: center;
}

.signin-container form {
   width: 100%;
}

/*** PRICING CARDS ***/
/*================== Font and typography =====================*/
:root {
   --biggest-font-size: 1.75rem;
   --h2-font-size: 1.25rem;
   --normal-font-size: 0.938rem;
   --small-font-size: 0.813rem;
   --smaller-font-size: 0.75rem;
   --tiny-font-size: 0.625rem;

   /*================= Margin bottoms ===================*/
   --mb-0-25: 0.25rem;
   --mb-0-5: 0.5rem;
   --mb-1: 1rem;
   --mb-1-25: 1.25rem;
   --mb-1-5: 1.5rem;
   --mb-2: 2rem;
}

@media screen and (min-width: 968px) {
   :root {
      --biggest-font-size: 2.125rem;
      --h2-font-size: 1.5rem;
      --normal-font-size: 1rem;
      --small-font-size: 0.875rem;
      --smaller-font-size: 0.813rem;
      --tiny-font-size: 0.688rem;
   }
}

/*================ BASE ================*/

.grid {
   display: grid;
}
/*================ REUSABLE CSS CLASSES ================*/
/*================ CARD PRICING ================*/
.card {
   padding: 3rem 3rem;
   border: none;
   background: transparent !important;
}

.card__button {
   background-color: #fff;
   border: 2px solid #ff005c;
   color: #ff005c;
   transition: ease-in-out 400ms;
   width: 100%;
   box-shadow: none;
}

.card__button:hover {
   background-color: #ff005c;
   border: 2px solid #ff005c;
   color: #fff;
   transition: all 300ms;
   box-shadow: 0 12px 24px rgb(255, 0, 76, 0.2);
}

.card__button-main {
   background-color: #ff005c;
   border: 2px solid #ff005c;
   color: #fff;
   width: 100%;
}

.card__button-main:hover {
   background-color: #71d8a4;
   border: 2px solid #71d8a4;
   color: #fff;
   box-shadow: 0 12px 24px rgb(62, 247, 185, 0.2);
}

.card__container {
   gap: 3rem 1.25rem !important;
}

.card__content {
   position: relative;
   padding: 2rem 1.5rem 2.5rem;
   border-radius: 1rem;
   box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
   transition: 0.4s;
}

.card__content:hover {
   box-shadow: 0 12px 24px rgba(0, 0, 0, 0.35);
   transition: 0.4s;
}

.card__header-img {
   width: 30px;
   height: 30px;
}

.card__header-subtitle {
   display: block;
   font-size: var(--small-font-size);
   color: rgb(173, 173, 173);
   text-transform: uppercase;
   margin-bottom: var(--mb-0-25);
}

.card__header-title {
   font-size: var(--biggest-font-size);
   margin-bottom: var(--mb-1);
}

.card__pricing {
   position: absolute;
   background-color: #ff005c;
   width: 60px;
   height: 88px;
   right: 1.5rem;
   top: -1rem;
   padding-top: 0.5rem;
   text-align: center;
}

.card__pricing-symbol {
   font-size: var(--smaller-font-size);
}

.card__pricing-number {
   font-size: var(--h2-font-size);
}

.card__pricing-month {
   display: block;
   font-size: var(--tiny-font-size);
}

.card__pricing-number,
.card__pricing-month {
   color: #fff;
}

.card__pricing::after,
.card__pricing::before {
   content: "";
   position: absolute;
}

.card__pricing::after {
   width: 100%;
   height: 14px;
   background-color: #fff;
   left: 0;
   bottom: 0;
   clip-path: polygon(0 100%, 50% 0, 100% 100%);
}

.card__pricing::before {
   width: 14px;
   height: 16px;
   background-color: #ce014c;
   top: 0;
   left: -14px;
   clip-path: polygon(0 100%, 100% 0, 100% 100%);
}

.card__list {
   row-gap: 0.5rem;
   margin-bottom: var(--mb-2);
}

.card__list-item {
   display: flex;
   align-items: center;
}

.card__list-icon {
   font-size: 1.5rem;
   color: #ff005c;
   margin-right: var(--mb-0-5);
}

.card__button {
   align-self: flex-end;
}

/*================ MEDIA QUERIES ================*/
/* For small devices */
@media screen and (max-width: 320px) {
   .card {
      padding: 1rem 1rem;
   }

   .card__content {
      padding: 2rem 1.25rem;
      border-radius: 1rem;
   }
}

/* For medium devices */
@media screen and (min-width: 568px) {
   .card__container {
      grid-template-columns: repeat(2, 1fr);
   }

   .card__content {
      grid-template-rows: repeat(2, max-content);
   }

   .card__button {
      align-self: flex-end;
   }
}

/* For large devices */
@media screen and (min-width: 968px) {
   .container {
      margin: 0 auto;
   }
   .card {
      align-items: center;
   }
   .card__container {
      grid-template-columns: repeat(3, 1fr);
   }

   .card__header-subtitle {
      font-size: var(--small-font-size);
   }
} /*=============== FOOTER STYLING ==================*/
footer {
   background: #fff;
   margin-top: 60px;
   border-top: 1px solid #46385b;
   padding-top: 50px;
   padding-bottom: 50px;
}

footer .container {
   display: flex;
}

footer ul {
   margin-top: 1rem;
   padding-left: 0;
}
footer li {
   list-style: none;
   margin-top: 10px;
}

footer img {
   width: 100px;
}

.social-heading {
   margin-top: 10px;
}

/*** MOBILE NAV BAR STYLING ***/

.mobile-nav-toggle {
   display: none;
}

/*** MEDIA QUERIES ***/
@media screen and (max-width: 768px) {
   h1 {
      font-size: 42px;
   }

   .input-container {
      width: auto;
   }

   .btn-primary {
      font-size: 16px;
   }

   .about-img {
      margin-bottom: 3rem;
   }

   .about-section__middle {
      flex-direction: column-reverse;
   }

   /*** PRIMARY HEADER ***/

   .primary-navigation ul {
      padding: 0;
   }

   .primary-navigation li {
      padding-bottom: 30px;
   }

   .primary-navigation {
      position: fixed;
      z-index: 1000;
      inset: 0 0 0 30%;
      display: flex;
      flex-direction: column;
      padding: min(30vh, 10rem) 2em;
      background: #fff;
      border-left: 1px solid #46385b;
      transform: translateX(100%);
      /*** MOBILE NAV ANIMATION ***/
      transition: transform 350ms ease-out;
   }

   .primary-navigation[data-visible="true"] {
      transform: translateX(0%);
   }

   .mobile-nav-toggle {
      display: block;
      position: absolute;
      padding: 0;
      z-index: 9999;
      border-radius: 0px;
      box-shadow: none;
      background: url("img/icon-hamburger.svg");
      background-repeat: no-repeat;
      border: 0;
      width: 2rem;
      aspect-ratio: 1;
      top: 1.7rem;
      right: 2rem;
   }

   .mobile-nav-toggle[aria-expanded="true"] {
      background-image: url("img/icon-close.svg");
   }

   .form-container {
      width: 100%;
      padding: 0 60px;
   }

   .container,
   .container-sm {
      max-width: 100%;
   }

   .login-btn {
      display: block !important;
      width: 100%;
   }
   .login-form {
      display: block !important;
      width: 100%;
   }

   .login-form input {
      width: 100%;
      height: 45px;
      margin-bottom: 25px;
   }

   .progress-container {
      width: 100%;
   }

   .goal-form input {
      border-radius: 0%;
   }

   .tracking-section {
      width: 100%;
      padding: 0 60px;
   }

   .icons-row__text {
      margin-bottom: 40px;
   }
}

@media screen and (max-width: 568px) {
   .hero-img-container {
      margin-top: 50px;
   }

   .hero-text-container {
      margin-top: 50px;
   }

   .hero-section {
      background-repeat: no-repeat;
      background-position-x: 10%;
      background-position-y: 30%;
      border-bottom: 1px solid #46385b;
   }

   h1 {
      font-size: 36px;
   }

   .container {
      padding: 10px 20px;
   }
}

@media screen and (max-width: 500px) {
   h1 {
      font-size: 32px;
   }

   .user-input-form {
      display: block !important;
   }

   .user-input-form input {
      width: 100%;
      display: block;
   }

   .user-input-form .btn-primary {
      margin-top: 30px;
      float: right;
   }
}

@supports (backdrop-filter: blur(1rem)) {
   .primary-navigation {
      background: #fff;
   }
}

@media screen and (max-width: 500px) {
   .hero-text-container button {
      width: 100%;
   }

   .footer-col {
      margin-bottom: 1.75rem;
   }
}

/*============== ANIMATIONS =============*/
