@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
   background: linear-gradient(112.87deg, #f6d365 0%, #fda085 100%);
   font-family: "Poppins", sans-serif;
   min-height: 100vh;
   color: #46385b;

   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

nav h2 {
   font-weight: 900;
   font-size: 30px;
}

header {
   text-align: center;
   margin-top: 120px;
}

h1 {
   font-size: 40px;
   font-weight: 900;
}

h2 {
   font-size: 40px;
   font-weight: 300;
}

nav {
   padding: 10px 60px;
   background: #fff;
   box-shadow: 0px 0px 50px 7px rgba(0, 0, 0, 0.15);
}

nav .container {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.container {
   width: 1100px;
   margin: 0 auto;
}

nav ul {
   display: flex;
}

nav li {
   list-style: none;
   padding-left: 30px;
}

nav img {
   width: 150px;
}

a {
   text-decoration: none;
   color: #46385b;
   transition: all 0.3s ease;
}

a:hover {
   font-weight: 700;
}

button {
   padding: 12px 40px;
   font-weight: 700;
   box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.25);
   border-radius: 40px;
   transition: all 0.5s ease;
   font-size: 18px;
}

footer {
   background: #fff;
   margin-top: 120px;
   padding: 4rem 60px;
   border-top: 1px solid #46385b;
}

footer .container {
   display: flex;
}

footer ul {
   margin-top: 1rem;
}
footer li {
   list-style: none;
   margin-top: 10px;
}

footer img {
   width: 100px;
}

input:focus {
   outline: none;
}

.user-input-form {
   width: 100%;
}

.user-input-form button {
   border: none;
   background: #ff005c;
   color: #fff;
   float: right;
}

.user-input-form button:hover {
   background: #71d8a4;
   color: #fff;
}

.user-input-form input {
   font-size: 1rem;
   border: 1px solid #46385b;
   background: #fff;
   border-radius: 40px;
   text-align: center;
   height: 40px;
   font-family: inherit;
   color: #b5afbd;
   width: 60%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;
}

.todo-container ul {
   margin-top: 40px;
   margin-bottom: 40px;
}

.input-list li {
   list-style: none;
   text-align: center;
   padding: 10px 0;
   border-left: 1px solid #46385b;
   border-right: 1px solid #46385b;
}

.input-list li:nth-child(odd) {
   background: #fff;
}
.input-list li:nth-child(even) {
   background: #f6f3f3;
}

.input-list li:first-child {
   border-top-left-radius: 20px;
   border-top-right-radius: 20px;
   border-top: 1px solid #46385b;
   border-left: 1px solid #46385b;
   border-right: 1px solid #46385b;
}
.input-list li:last-child {
   border-bottom-left-radius: 20px;
   border-bottom-right-radius: 20px;
   border-bottom: 1px solid #46385b;
   border-left: 1px solid #46385b;
   border-right: 1px solid #46385b;
}

.form-container {
   width: 600px;
   margin: 0 auto;
}

.progress {
   background-color: #fff;
   border: 1px solid #46385b;
   border-radius: 20px;
   margin: 15px 0;
   height: 40px;
   width: 100%;
}

.progress-done {
   background: #25d341;
   border-right: 1px solid #46385b;
   /* background-image: linear-gradient(90deg, #f8ef42 0%, #0fd64f 74%); */
   /* box-shadow: 0 3px 3px -5px #f8ef42, 0 2px 5px #0fd64f; */
   border-radius: 20px;
   color: #46385b;
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100%;
   width: 0;
   opacity: 0;
   transition: 1s ease 0.3s;
}

.goal-container {
   display: flex;
   justify-content: space-between;
}

/*** Enter Goal Enter Target Form ***/
.goal-form {
   margin-top: 50px;
   margin: 50px auto 0;
   text-align: right;
   width: 600px;
}

.goal-button {
   background: none;
   border: solid 2px #ff005c;
   color: #ff005c;
}

.goal-button:hover {
   background: #fff;
   color: #ff005c;
}

.input-container {
   display: flex;
   justify-content: space-between;
}

.goal-form input {
   border: none;
   background: none;
   border-bottom: 1px solid #46385b;
   color: #46385b;
   text-align: center;
   padding-bottom: 10px;
   font-family: inherit;
   width: 47%;
   margin-bottom: 30px;
   font-size: 20px;
}

.goal-form ::placeholder {
   color: #46385b;
}

/**** FOOTER CLASS STYLING ***/

.middle-col-footer {
   margin-left: 4rem;
}

.middle-col-footer p {
   margin-bottom: 10px;
}
